*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
 div::-webkit-scrollbar{
                width: 0px;
            }

  .box{
    width: 70%;
    height: 600px;
    
}         
.box{
    position: absolute;
    top: 150px;
    display: none;
}
.box1{

     gap: 100px;
}
li:hover .box {
     width: 100%;
     height: 100vh;
     opacity: 1;
     display: block;
     color: white;
     background-color: black;
     position: absolute;
     right: 0px;
     display: flex;
            
}
.rool{
     padding-left: 500px;
 }
.link{
    display: flex;
    gap: 50px;
}


.over{
    background-color: black;
    width: 100%;
    height: 700vh;
    overflow: auto;
    /* position: fixed; */


}
.nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}
.iphone{
    width: 50px;
    height: 30px;
   
}
.search{
     width: 30px;
    height: 30px;
}
.nav_content{
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    padding-top: 15px;
    background-color: rgb(58, 58, 58);
}

.img_div{
    display: flex; 
    justify-content: center;
}
.iphone1{
    font-size: 60px;
    margin-left: 130px;
}
.img_class{

    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 50px;
}
.iphone_17_pro{
    width: 100%;
    height: 1500px;
}
.two_of_div{
    width: 100%;
    height: 400px;
    background-color: #323131;
    display: flex;
    color: white;
    justify-content: center;
    gap: 900px;
}
.text{
    font-size: 50px;
    margin-top: 150px;  
}
.p{
    margin-top: 150px;  
}
.img_of_class{
    margin-left: 200px;
    width: 1500px;
    height: 900px;
    border-radius: 50px;
}
.img_of_div{
    margin-top: 100px;
    overflow-x: scroll;
    display: flex;
    gap: 200px;
}
.design{
    display: flex;
    justify-content:center ;
    color: orange;
}
.design1{
    display: flex;
    justify-content:center ;
    color: white;
    font-size: 80px;
}
.design2{
    display: flex;
    justify-content:center ;
    color: white;
    font-size: 80px;
}
.design3{
    display: flex;
    justify-content:center ;
    color: rgb(136, 133, 133);

}
.endframe{
    margin-left: 200px;
    width: 1500px;
    height: auto;
}
.look_content{
    width: 1600px;
    height: 900px;
    margin: auto;
    display: flex;
    border-radius: 50px;
    background-color: #1a1919;
    /* border: 2px solid white; */
}
.lasts{
   font-size: 75px;
   color: white;
   margin: 150px;
}
.look_content1{
    margin: auto;
    width: 600px;
    height: 350px;
    margin-top: 70px;
       background-color: #1a1919;
       /* background-color: #fff; */
 
}
.look_img{
    width: 150px;
    height: 150px;
    margin-left: 170px;
    border-radius: 50%;

}
.box_last{
    display: flex;
}
.box_of_last1{
    color: white;
    margin-top: 100px;
    margin-left: 200px;
}
.box_of_last2{
    color: white;
    margin-top: 100px;
    margin-left: 200px;
}
.box_of_last3{
    color: white;
    margin-top: 100px;
    margin-left: 200px;
}
.box_textall{
    width: 75%;
    margin-left: 200px;
    margin-top: 100px;
    color: white;

    /* background-color: rgb(235, 235, 175); */
}